<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

<title>3D图形变换</title>


<script id="vertex-shader" type="x-shader/x-vertex">
attribute vec4 vPosition;
attribute vec4 vColor;
varying vec4 fColor;
varying vec3 v_normal;
uniform mat4 uMatrix;
uniform mat4 uWorld;
uniform vec3 uLightPos; 
uniform float u_fudgeFactor;
attribute vec3 a_normal;
varying vec3 v_surfaceToLight;
void main()
{
    gl_Position = uMatrix*vPosition;
    fColor = vColor;
    vec3 surfaceWorldPos=(uWorld*vPosition).xyz;
    v_normal=mat3(uWorld)*a_normal;
    v_surfaceToLight=uLightPos-surfaceWorldPos;
}
</script>


<script id="fragment-shader" type="x-shader/x-fragment">
precision mediump float;
varying vec4 fColor;
varying vec3 v_normal;
varying vec3 v_surfaceToLight;
uniform vec3 u_reverseLightDirection;
void main()
{
    vec3 normal=normalize(v_normal);
    vec3 surfaceToLightDirection=normalize(v_surfaceToLight);
    float light = dot(normal,surfaceToLightDirection);
    gl_FragColor =  fColor; 
    gl_FragColor.rgb*=light;
}
</script>

<script type="text/javascript" src="../Common/webgl-utils.js"></script>
<script type="text/javascript" src="../Common/initShaders.js"></script>
<script type="text/javascript" src="../Common/MV.js"></script>
<script type="text/javascript" src="../Common/js/vue.js"></script>
<script type="text/javascript" src="../Common/js/Tween.js"></script>
<link rel="stylesheet" href="../Common/css/mdui.css">
<script src="../Common/js/mdui.min.js"></script>
<script src="../Common/webgl-utils-gfx.js"></script>
<script type="text/javascript" src="3D.js"></script>

</head>   

<body class="mdui-appbar-with-toolbar">

        <div class="mdui-appbar mdui-appbar-fixed">
                <div class="mdui-toolbar mdui-color-teal">
                  <a href="javascript:;" class="mdui-typo-headline">3D图形变换</a>
                  <a href="javascript:;" class="mdui-typo-title"></a>
                  <div class="mdui-toolbar-spacer"></div>
                </div>
              </div>
        <div class="mdui-container" id="container">
                <div class="mdui-row">
                        <div class="mdui-col-xs-12 mdui-col-md-6 mdui-m-t-2">
                                <canvas id="gl-canvas" class="mdui-img-fluid mdui-center mdui-img-rounded" width="600" height="600">
                                        Oops ... your browser doesn't support the HTML5 canvas element
                                </canvas>
                                <div class="mdui-center" width="600">
                                        <div class="mdui-m-t-2" style="text-align:center">
                                                
                                            
                                        </div>
                                </div>
                        </div>
                        <div class="mdui-col-xs-12 mdui-col-md-6" id="control_panel">
                                
                            <h1>控制面板</h1>
                            X_r<input v-model.number="angleX" step="0.5" type="number"><br>
                            Y_r<input v-model.number="angleY" step="0.5" type="number"><br>
                            Z_r<input v-model.number="angleZ" step="0.5" type="number"><br>
                            tx<input v-model.number="tx" step="0.1" type="number"><br>
                            ty<input v-model.number="ty" step="0.1" type="number"><br>
                            tz<input v-model.number="tz" step="0.1" type="number"><br>
                            cameraX<input v-model.number="cameraX" step="0.5" type="number"><br>
                            cameraY<input v-model.number="cameraY" step="0.5" type="number"><br>
                            cameraZ<input v-model.number="cameraZ" step="0.5" type="number"><br>
                            cameraTx<input v-model.number="cameraTx" step="0.5" type="number"><br>
                            cameraTy<input v-model.number="cameraTy" step="0.5" type="number"><br>
                            cameraTz<input v-model.number="cameraTz" step="0.5" type="number"><br>
                            lkx<input v-model.number="lkx" step="0.1" type="number"><br>
                            lky<input v-model.number="lky" step="0.1" type="number"><br>
                            lkz<input v-model.number="lkz" step="0.1" type="number"><br>
                            perspectiveSwitch<input type="checkbox" id="checkbox" v-model="perspectiveSwitch">
                            goSwitch<input type="checkbox" id="checkbox" v-model="goSwitch">
                        </div>

            
        
            
            
</div>
</body>
</html>
